* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

html {
	//   overflow: auto;
	//   margin-left: calc(100vw - 100%);
	//   margin-right: 0;
	overflow-y: scroll;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100vw - 60px);
	height: calc(100vh - 100px);
	transform: translate(-50%, -50%);
	box-shadow: 1px 2px 20px #d4d4d4;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	font-size: 14px;

	&__sidebar {
		background-color: #f4f6f8;
		width: 300px;
		height: calc(100% - 120px);
		border-right: 1px solid #f1f1f1;
		padding: 60px 20px;
		overflow: auto;
	}

	&__tasks {
		flex: 1;
		padding: 60px;
		overflow: auto;
	}
}

.field {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #efefef;
	border-radius: 4px;
	padding: 8px 12px;
	width: 100%;
	font-size: 14px;

	&:focus {
		border-color: #dbdbdb;
	}
}

.button {
	color: #fff;
	background: #4dd599;
	border-radius: 4px;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 14px;

	&:hover {
		background: darken($color: #4dd599, $amount: 5%);
	}
	&:active {
		background: darken($color: #4dd599, $amount: 10%);
	}

	&:disabled {
		background: #d8d8d8;
	}
	
	&--grey {
		background: #f4f6f8;
		color: #444444;
	
		&:hover {
			background: darken(#f4f6f8, 3%);
		}
		&:active {
			background: darken(#f4f6f8, 6%);
		}
	}
}
